.nav {
  margin-bottom: 32px;

  @include media-large {
    margin-bottom: 0;
  }
}

.listItem {
  margin-left: 16px;
}

.link {
  color: var(--color-black);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 16px;
  list-style: none;

  @include media-large {
    height: 100px;
  }
}
