.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--color-blur);
  backdrop-filter: blur(3px);

  @include media-tablet {
    display: block;
  }
}

.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-black);

  @include media-tablet {
    justify-content: flex-start;
    overflow-x: clip;
  }

  @include media-limit {
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
  }
}

.items {
  display: grid;
  flex-grow: 2;
  grid-template-columns:
    repeat(2, max(135px, calc((50% - 83px) / 4)))
    1fr
    repeat(2, max(135px, calc((50% - 83px) / 4)));
  grid-template-areas: '. . empty . .';

  @include media-large {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-tablet {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    grid-template-columns: 350px;
    grid-template-areas:
      '.'
      '.'
      '.'
      '.'
      '.';
    transform: translateX(100dvw);
    background-color: var(--color-white);
    border-left: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    transition: transform 0.3s ease-in-out;
  }

  @include media-mobile {
    grid-template-columns: 100dvw;
    transform: translateX(110vw);
  }
}

.items > li {
  border-right: 1px solid var(--color-black);

  @include media-tablet {
    border-right: none;
  }
}

.active {
  transform: translateX(0px);
}

.listItem,
.icon,
.menuClose,
.menuOpen {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83px;

  @include media-tablet {
    height: 53px;
  }

  @include media-mobile {
    height: 48px;
  }
}

.listItem {
  @include media-tablet {
    padding: 0 20px;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-black);
  }
}

.menuOpen {
  display: none;

  @include media-tablet {
    display: flex;
    margin-left: auto;
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
  }
}

.menuClose {
  display: none;

  @include media-tablet {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    border-right: none;
    border-bottom: 1px solid var(--color-black);
  }
}

.menuClose button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}

.menuClose button:hover {
  transform: rotate(90deg);
}

.icon {
  aspect-ratio: 1 / 1;

  &:first-child {
    border-right: 1px solid var(--color-black);
  }
}

.logoIcon {
  @include media-tablet {
    width: 18px;
  }
}

.empty {
  grid-area: empty;
  @extend .listItem;

  @include media-large {
    display: none;
  }
}

.cartLink {
  position: relative;
}

.counter {
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
  border-radius: 50%;
  line-height: 20px !important;
}
