.wrapper {
  min-height: calc(100vh - 83px - 223px);
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    'filter search'
    'filter cards'
    'filter pagination';

  @include media-large {
    grid-template-rows: 1fr;
    grid-template-areas:
      'search search'
      'filter filter'
      'cards cards'
      'pagination pagination';
  }
}

.filter {
  grid-area: filter;
  border-right: 1px solid var(--color-black);

  @include media-large {
    border-right: none;
  }
}

.items {
  grid-area: cards;

  @include media-large {
    border-top: 1px solid var(--color-black);
  }
}

.search {
  grid-area: search;
}

.pagination {
  grid-area: pagination;
}

.notFound {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 80px;
  border-bottom: 1px solid var(--color-black);
}
