:root {
  font-family: 'Poppins', 'Roboto', sans-serif;
  --color-black: #121212;
  --color-white: #FFFFFF;
  --color-extra-light: #F5F5F7;
  --color-light-gray: #D2D2D7;
  --color-gray: #808080;
  --color-dark-gray: #424245;
  --color-success: #32936F;
  --color-error: #F55F56;
}
