.block {
  position: sticky;
  top: 5px;
  padding: 40px;

  @include media-large {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 40px 80px;
  }

  @include media-small {
    padding: 24px 16px;
  }
}

.show {
  display: none;

  @include media-large {
    display: block;
    align-self: flex-start;

    &Caption {
      display: flex;
      gap: 5px;
      &::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url('/src/assets/svg/tune.svg') 0 0 no-repeat;
      }

      &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: url('/src/assets/svg/chevron.svg') 0 0 no-repeat;
        transition: all 0.2s;
      }
    }

    &Active::after {
      transform: rotate(180deg);
    }
  }
}

.options {
  @include media-large {
    max-height: 0;
    margin-top: 10px;
    overflow: hidden;
    transition: max-height 0.2s;

    &Active {
      max-height: 550px;
    }
  }

  @include media-small {
    &Active {
      max-height: 750px;
    }
  }
}
