.cardBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-light-gray);
}

.removeItemButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.3);
    }
  }
}

.imgBlock {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border: 1px solid var(--color-light-gray);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  column-gap: 52px;
}

.pricesBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.oldPrice {
  color: var(--color-gray);
  text-decoration: line-through;
}

.infoBlock {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.counter {
  width: 146px;
  height: 44px;
  margin-left: auto;
  background-color: var(--color-gray);
}
