.button {
  position: relative;
  box-sizing: border-box;
  width: 175px;
  padding: 16px;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:disabled {
    cursor: default;
  }

  @include media-mobile {
    width: 100%;
    font-size: 14px;
    line-height: 100%;
  }
}

.full {
  width: 100%;
}

.ico {
  width: auto;
  padding: 6px;
  line-height: 0;
}

.primary,
.ico {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);

  &:hover {
    border: 1px solid var(--color-dark-gray);
    background-color: var(--color-dark-gray);
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &:disabled {
    color: var(--color-gray);
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-light-gray);
  }
}

.secondary {
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
  }

  &:active {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &:disabled {
    color: var(--color-gray);
    background-color: var(--color-light-gray);
    border: 1px solid var(--color-light-gray);
  }
}

.underlined {
  width: 125px;
  color: var(--color-error);
  background-color: inherit;
  text-transform: inherit;
  border: 1px solid transparent;

  @include media-mobile {
    width: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 10px;
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--color-black);
    transition: all 0.2s ease-in-out;

    @include media-mobile {
      left: 35%;
      width: 30%;
    }
  }

  &:not(:disabled) {
    &:active {
      color: var(--color-gray);
      &::after {
        width: 80%;
        background-color: var(--color-black);

        @include media-mobile {
          left: 35%;
          width: 30%;
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-gray);

        &::after {
          width: 80%;

          @include media-mobile {
            left: 35%;
            width: 30%;
          }
        }
      }

      &::after {
        width: 0;
        background-color: var(--color-gray);
      }
    }
  }

  &:disabled {
    color: var(--color-gray);
  }
}
