.button {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-decoration: none;
  width: 175px;
  box-sizing: border-box;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  position: relative;

  &:disabled {
    cursor: not-allowed;
  }

  @include media-mobile {
    font-size: 14px;
    line-height: 100%;
    width: 100%;
  }
}

.full {
  width: 100%;
}

.ico {
  width: auto;
  padding: 6px;
  line-height: 0;
}

.primary,
.ico {
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);

  &:hover {
    border: 1px solid var(--color-dark-gray);
    background-color: var(--color-dark-gray);
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-black);
  }

  &:disabled {
    color: var(--color-gray);
    background-color: (--color-light-gray);
    border: 1px solid var(--color-light-gray);
  }
}

.secondary {
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);

  &:hover {
    color: var(--color-white);
    border: 1px solid var(--color-black);
    background-color: var(--color-black);
  }

  &:active {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &:disabled {
    color: var(--color-gray);
    background-color: (--color-light-gray);
    border: 1px solid var(--color-light-gray);
  }
}

.underlined {
  width: 125px;
  color: var(--color-error);
  text-transform: inherit;
  background-color: inherit;
  border: 1px solid transparent;

  @include media-mobile {
    width: 100%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10px;
    height: 1px;
    background-color: var(--color-black);
    transition: all 0.2s ease-in-out;

    @include media-mobile {
      width: 30%;
      left: 35%;
    }
  }

  &:active {
    color: var(--color-error);
    &::after {
      width: 80%;
      background-color: var(--color-black);
      @include media-mobile {
        width: 30%;
        left: 35%;
      }
    }
  }

  &:disabled {
    color: var(--color-gray);
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-gray);

      &::after {
        width: 80%;
        @include media-mobile {
          width: 30%;
          left: 35%;
        }
      }
    }

    &::after {
      width: 0%;
      background-color: var(--color-gray);
    }
  }
}
