.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include media-tablet {
    grid-template-columns: 100%;
  }
}

.left {
  border-right: 1px solid var(--color-black);
  height: 100%;

  @include media-tablet {
    border-right: none;
  }
}

.right {
  overflow: visible;
}

.wrapper {
  padding: 80px;

  @include media-large {
    padding: 60px;
  }

  @include media-mobile {
    padding: 40px 16px;
  }
}

.sticky {
  position: sticky;
  top: 5px;
}

.startBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-bottom: 1px solid var(--color-black);
  aspect-ratio: 1.992 / 1;

  @include media-mobile {
    padding: 16px;
    aspect-ratio: 1.5 / 1;
  }
}

.promo {
  align-items: center;
  color: white;
  background:
    linear-gradient(0deg, rgba(18, 18, 18, 0.4) 0%, rgba(18, 18, 18, 0.4) 100%),
    url('/src/assets/images/promoBg.webp'),
    lightgray 0px -702.034px / 100% 299.766% no-repeat;
  background-position: bottom -50px right;
  background-size: cover;
}

.promotitle {
  text-align: center;
}

.about {
  @include media-tablet {
    border-bottom: 1px solid var(--color-black);
  }
}

.overline {
  margin-bottom: 24px;
}

.aboutHeader {
  margin-bottom: 16px;
}

.quote {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: clamp(375px, 200vw, 720px);
  padding: 260px;
  border-top: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.4) 0%, rgba(18, 18, 18, 0.4) 100%),
    url('/src/assets/images/quoteBg.webp');
  background-size: cover;
  background-position: center;

  & > * {
    color: white;
    text-align: center;
  }

  @include media-large {
    padding: 130px;
  }

  @include media-tablet {
    padding: 76px;
  }

  @include media-mobile {
    padding: 16px;
    height: 375px;
  }
}

.button {
  margin-top: 64px;
}
