.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--color-black);

  @include media-large {
    grid-template-columns: 1fr;
  }
}

.textBlock {
  padding: 80px;

  @include media-small {
    padding: 40px 16px;
  }
}

.rsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--color-black);

  .logoLink {
    display: block;
    justify-self: flex-start;
    width: 158px;
    margin: 0 0 auto;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: var(--color-black);
      transition: width 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
  }

  .textWrapper {
    text-align: center;
    margin: 0 0 auto;

    p {
      margin-top: 24px;
    }
  }

  @include media-large {
    border-right: none;
    border-bottom: 1px solid var(--color-black);
    min-height: 500px;
  }
}

.imageBlock {
  min-height: 720px;
  @include media-large {
    min-height: 500px;
  }
}

.rsBlockImage {
  background:
    center / cover no-repeat url('/src/assets/images/heroImg.webp'),
    lightgray 0px -353.086px / 100% 149.97% no-repeat;
}

.aboutBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid var(--color-black);

  .aboutTitle {
    margin: 12px 0 24px;
  }

  .aboutText {
    max-width: 640px;
  }
}

.persons {
  grid-template-areas: 'leftBlock rightBlock';
  &:nth-child(odd) > :first-of-type {
    grid-area: rightBlock;
  }
  &:nth-child(odd) > .imageBlock {
    grid-area: leftBlock;
    border-right: 1px solid var(--color-black);
  }

  &:nth-child(even) > :first-of-type {
    grid-area: leftBlock;
    border-right: 1px solid var(--color-black);
  }
  &:nth-child(even) > .imageBlock {
    grid-area: rightBlock;
  }

  @include media-large {
    grid-template-areas:
      'topBlock'
      'bottomBlock';

    &:nth-child(odd) > :first-of-type,
    &:nth-child(even) > :first-of-type {
      grid-area: bottomBlock;
      border-right: none;
    }

    &:nth-child(odd) > .imageBlock,
    &:nth-child(even) > .imageBlock {
      grid-area: topBlock;
      border-right: none;
      border-bottom: 1px solid var(--color-black);
    }
  }
}

.denImg {
  background: top / cover no-repeat url('/src/assets/images/Den.webp');
}

.aliakseyImg {
  background: top / cover no-repeat url('/src/assets/images/Aliaksey.webp');
}

.glebImg {
  background: top / cover no-repeat url('/src/assets/images/Gleb.webp');
}

.collaborationBlock {
  text-align: center;
  .collaborationTitle {
    margin-bottom: 16px;
  }
}
