.container {
  margin: 0 auto;
}

.form__element {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.elements__flow {
  display: flex;
  flex-flow: row;

  @include media-tablet {
    flex-flow: column;
  }

  .form__element:first-child {
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    @include media-tablet {
      border-right: none;
    }
  }

  .form__element:last-child {
    border-bottom: 1px solid var(--color-black);
  }
}

.profile__header_flow {
  @include media-tablet {
    flex-flow: column;
  }
}

.profile__header_element {
  @include media-tablet {
    flex-basis: auto;
  }
}

.profile__header {
  @include media-tablet {
    height: 100%;
  }
}

.header__img {
  background-image: url('/src/assets/images/profileBg.jpg');
  background-size: cover;
  background-position: center;

  @include media-tablet {
    height: 315px;
    background-position: top;
  }

  @include media-mobile {
    height: 234px;
  }
}

.header__message {
  display: flex;
  height: 220px;
  padding: 0 80px;
  align-items: center;
  justify-content: flex-start;

  @include media-tablet {
    justify-content: center;
  }
  @include media-mobile {
    padding: 40px 16px;
    height: 118px;
  }
}

.form__element_left {
  justify-content: flex-start;
  padding: 80px;

  @include media-large {
    padding: 80px 40px;
  }

  @include media-mobile {
    padding: 40px 16px;
  }
}

.form__title_size {
  width: 100%;

  @include media-mobile {
    text-align: center;
  }
}

.form__element_flow {
  display: flex;
  flex-flow: column;
  padding: 70px 40px 30px 40px;
  gap: 15px;

  @include media-tablet {
    align-items: center;
  }

  @include media-mobile {
    padding: 50px 16px 0 16px;
  }
}
