.main {
  margin: 0 auto;
  box-sizing: border-box;
}

.form__element {
  flex-basis: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.elements__flow {
  display: flex;
  flex-flow: row;

  @include media-tablet {
    flex-flow: column;
  }

  .form__element:first-child {
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    @include media-tablet {
      border-right: none;
    }
  }

  .form__element:last-child {
    border-bottom: 1px solid var(--color-black);
  }
}

.signin__header_flow {
  @include media-tablet {
    flex-flow: column;
  }
}

.signin__header_element {
  @include media-tablet {
    flex-basis: auto;
  }
}

.signin__header {
  height: 372px;
  @include media-tablet {
    height: 100%;
  }
}

.header__img {
  background-image: url('/src/assets/images/signin-header.png');
  background-size: cover;
  background-position: top right;

  @include media-tablet {
    height: 315px;
    background-position: top;
  }

  @media (max-width: 515px) {
    height: 234px;
  }
}

.header__message {
  display: flex;
  flex-flow: column;
  padding: 0 20px 0 80px;
  @media (max-width: 1125px) {
    padding: 0 20px 0 20px;
  }
  @include media-tablet {
    padding: 80px 0 0 80px;
  }
  @media (max-width: 620px) {
    padding: 80px 0 0 0;
    align-items: center;
  }
  @media (max-width: 515px) {
    padding: 44px 0 0 0;
  }
}

.welcome {
  @media (max-width: 515px) {
    font-size: 32px !important;
  }
}

.login__container {
  padding-top: 36px;
  display: flex;
  align-items: center;
  @media (max-width: 1005px) {
    padding-top: 10px;
  }
  @include media-tablet {
    padding-top: 36px;
    padding-bottom: 80px;
  }
  @media (max-width: 515px) {
    padding-bottom: 44px;
  }
  .login__text {
    @include link-text;
    color: var(--color-gray);
    @media (max-width: 1005px) {
      width: 140px;
    }
    @include media-tablet {
      width: 220px;
    }
    @media (max-width: 515px) {
      width: 150px;
    }
    @include media-mobile {
      width: 190px;
    }
  }
}

.login__btn {
  margin-left: 16px;
}

.submit__btn__container {
  width: 100%;
  margin-bottom: 107px;
  @include media-mobile {
    margin-bottom: 72px;
  }
}

.submit__btn {
  width: 100% !important;
}

.form__element_left {
  justify-content: flex-start;

  @media (max-width: 550px) {
    font-size: 32px !important;
  }
}

.form__title_size {
  width: 100%;
  padding: 80px 0 0 80px;

  @media (max-width: 1080px) {
    padding: 80px 30px 0 40px;
  }

  @include media-tablet {
    padding: 80px 30px 80px 40px;
  }

  @media (max-width: 550px) {
    font-size: 32px !important;
    padding: 40px 0;
    text-align: center;
  }

  @include media-mobile {
    padding: 40px 0;
  }
}

.form__element_flow {
  display: flex;
  flex-flow: column;
  padding: 70px 40px 30px 40px;
  gap: 15px;

  @include media-tablet {
    align-items: center;
    padding: 70px 40px 30px 40px;
  }

  @include media-mobile {
    padding: 50px 16px 0 16px;
  }
}

.err__message {
  display: flex;
  align-items: center;
}

.two__items_container {
  width: 100%;
  display: flex;
  flex-flow: row;
  gap: 24px;

  @include media-mobile {
    flex-flow: column;
  }
}

.checkboxes_container {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 0;
  justify-content: flex-start;
  padding-bottom: 40px;
}

.alert_position {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
