.group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group,
.button {
  margin: 20px 0;
}

.input {
  margin-left: 20px;
}

.block {
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 32px;
}