.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  @include media-tablet {
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
  }
}

.content {
  height: 100%;
}

.wrapper {
  padding: 40px 35px;

  @include media-mobile {
    padding: 40px 16px;
  }
}

.overline {
  margin-bottom: 12px;
}

.imageWrapper {
  border-right: 1px solid var(--color-black);

  @include media-tablet {
    order: 2;
    border-right: none;
    border-top: 1px solid var(--color-black);
  }
}

.imageBlock {
  background-image: url('../../assets/images/cartBg.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: sticky;
  top: 0px;

  @include media-tablet {
    aspect-ratio: 1.66/1;
    min-height: 250px;
  }
}

.itemsBlock {
  display: flex;
  flex-direction: column;
}

.buttonClear {
  align-self: flex-end;
  display: flex;
  gap: 4px;
  color: var(--color-error);
  text-decoration: none;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-error);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    visibility: visible;
    width: 100%;
  }
}

.promoBlock {
  padding: 24px 0;
}

.promoForm {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}

.promoButton {
  width: 40%;
  max-width: 260px;
}

.textInput {
  flex-grow: 1;
}

.checkoutBlock {
  display: flex;
  flex-direction: column;
}

.subpriceBlock {
  border-top: 1px solid var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.totalpriceBlock {
  border-top: 1px solid var(--color-light-gray);
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.buttonCheckout {
  min-width: 260px;
  align-self: flex-end;

  @include media-mobile {
    width: 100%;
  }
}

.emptyCartBlock {
  border-bottom: 1px solid var(--color-light-gray);
}

.h2 {
  margin-bottom: 16px;
}

.buttonCatalog {
  min-width: 215px;
  margin: 60px 0 92px;

  @include media-tablet {
      margin-bottom: 24px;
    }
}
