.input {
  display: none;
}

.label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 36px;
  margin-right: 0;
  user-select: none;
  background-color: transparent;
}

.label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background: url(../../../assets/svg/radioUnchecked.svg) 0 0 no-repeat;
  transition: all 0.2s;
}

.label:hover::before {
  background-color: var(--color-light-gray);
}

.input:checked + .label::before {
  background: url(../../../assets/svg/radioChecked.svg) 0 0 no-repeat;
}

.input:disabled + .label {
  color: var(--color-light-gray);
  cursor: none;
}
