.input {
  display: none;
}

.label {
  display: grid;
  grid-template-columns: 24px auto;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

.label::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(/src/assets/svg/radioUnchecked.svg) 0 0 no-repeat;
  transition: all 0.2s;
}

.label:hover::before {
  background-color: var(--color-light-gray);
}

.input:checked + .label::before {
  background: url(/src/assets/svg/radioChecked.svg) 0 0 no-repeat;
}

.input:disabled + .label {
  color: var(--color-light-gray);
  cursor: none;
}
