.layout {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  border-top: 1px solid var(--color-black);

  @include media-limit {
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
  }

  @include media-tablet {
    grid-template-columns: 50% 50%;
  }

  @include media-mobile {
    grid-template-columns: 100%;
  }
}

.item {
  padding: 40px 20px 40px 35px;
  border-right: 1px solid var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 24px;

  &:last-child {
    border-right: none;
  }

  @include media-tablet {
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-black);
    }

    &:not(:first-child) {
      border-right: none;
    }
  }

  @include media-mobile {
    border-right: none;
    padding: 40px 16px;
    gap: 16px;
  }
}

.itemLogo {
  justify-content: space-between;
  @include media-tablet {
    grid-column: span 2;
  }

  @include media-mobile {
    grid-column: auto;
  }
}

.list {
  height: 95px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  @include media-tablet {
    height: auto;
    justify-content: center;
  }
}

.list > li {
  flex: 1;
}

.header {
  padding: 0 5px;
  color: var(--color-gray);
}

.logo {
  width: 31px;
  height: 45px;
  flex-shrink: 0;
}

.link {
  color: var(--color-black);
}

li {
  height: 19px;
}

.caption {
  color: var(--color-gray);
}
